<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.magzoo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MagZoo">
        <activity android:name=".UnderConstruction"></activity>
        <activity android:name=".CollectionDetails" />
        <activity
            android:name=".Credits"
            android:label="@string/tituloCreditos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfile"
            android:label="@string/tituloEditarPerfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:label="@string/tituloPerfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Awards"
            android:label="@string/tituloPremio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Collection"
            android:label="@string/tituloColecao"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Map"
            android:label="@string/tituloMapa"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MagZoo.NoActionBar" />
        <activity
            android:name=".Signup"
            android:label="@string/tituloPremio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>